tests/bookmarks/*
tests/test_archive/*

web-login.txt

dist/*
build/*
anchorage.egg-info/*

.idea/*
.pytest_cache/*
__pychache__/
tests/__pycache__/
anchorage/__pycache__/
anchorage/anchor_infrs/__pycache__/
anchorage/anchor_tools/__pycache__/
anchorage/anchor_utils/__pycache__/
