numpy==1.19.2
python-rapidjson==1.4
toml==0.10.1
Python-Alexandria==1.2.3
archivenow==2020.7.18.12.19.44
internetarchive==2.0.3
tqdm==4.51.0
pyfiglet==0.8.post1
PyInquirer==1.0.3
prompt-toolkit==1.0.14
pdoc3==0.9.2
anchorage~=0.0.3.2
setuptools~=40.8.0
lz4~=3.1.3