numpy==1.19.2
rapidjson==1.0.0
toml==0.10.1
Python-Alexandria==1.2.3
archivenow==2020.7.18.12.19.44
internetarchive==2.0.3
tqdm==4.51.0
pyfiglet==0.8.post1
PyInquirer==1.0.3
prompt-toolkit==1.0.14
pdoc3==0.9.2